* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
}

.controls {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label {
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 50%;
    transition: background ease-in-out 0.5s;
}

label:hover {
    border: 2px solid white;
}

#slide1:checked~.controls label:nth-of-type(1), #slide2:checked~.controls label:nth-of-type(2), #slide3:checked~.controls label:nth-of-type(3), #slide4:checked~.controls label:nth-of-type(4) {
    background: white;
}

#slide1:checked~.slider>.img1, #slide2:checked~.slider>.img2, #slide3:checked~.slider>.img3, #slide4:checked~.slider>.img4 {
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}

label::after {
    width: 12px;
    height: 12px;
    content: " ";
    display: flex;
    border: 1px solid white;
    border-radius: 50%;
}

.main input{
    display: none;
}

.slider{
    width: 1200px;
    height: 700px;
    overflow: hidden;
    position: relative;
}

.img-cont{
    height: inherit;
    position: absolute;
    width: inherit;
}

.img1{
  background: url("./assets/image/1.jpg");  
  background-size: cover;
}

.img2{
    background: url("./assets/image/2.jpg");  
    background-size: cover;
}

.img3{
    background: url("./assets/image/3.png"); 
    background-size: cover; 
}

.img4{
    background: url("./assets/image/4.jpg");
    background-size: cover;   
}